


*{
	color:white;
	font-family: 'Mochiy Pop One', sans-serif;
}

body{
	
	
    background-image: linear-gradient(-90deg,#1D1D1F ,#314059);
	padding:0;
	margin:0;
	
}
.navbar h2{
	display:inline;
	margin-left:70px;
	text-shadow:3px 3px 7px #314059
	}
sub
{
	color:#008000;
	font-size:10px;
}

.navbar img{
	margin-top:5px ;
    border-radius:50%;
    position:absolute;
    top:10px;
     }

.navbar{
	background-color:hsl(240, 3%, 12%,70%);
	color:white;
	padding:20px 0px 20px 50px;
	position:fixed;
	top:0;
	width:99%;
	

	box-shadow:1px 1px 10px white;
}
ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  position:absolute;
  right:60px;
  top:40px;
  padding:5px;
  border-radius:2px 15px;
}
li
{
	font-size:12px;
	display:inline;
	padding:5px;
	margin:2px;
}
.navbar a {
	color:white;
	text-decoration:none;
	padding:5px;margin:2px;
	text-shadow:3px 3px 7px #314059
	}

.navbar a:hover{
	background-color:white;
	color:#1D1D1F;
	border-radius:2px 15px}

.exp div
{
	display:inline;
	float:left;
	margin:40px;
	padding:50px;
	background-color:hsl(240, 3%, 12%,70%);
	color:white;
	border-radius:2px 15px;
	width:150px;
	height:200px;
	box-shadow:1px 1px 10px white;
	
}
.exp h1{text-align:center;}
.exp h2,h3{display:inline;}
.exp p
{
	font-size:14px;
}
.exp
{
	margin-top:200px;
}


.about
{
	 clear: both;
	color:white;
	padding:20px;
	margin:0px;
	text-align:center;
	background-color:hsl(240, 3%, 12%,70%);
	box-shadow:1px 1px 10px white;
	margin-top:600px;

}
.about hr{width:200px;}
.contact

{
	text-align:center;
	margin-top:200px;
}
.contact div
{
	display:inline;
	float:left;
	margin:100px;
	margin-left:150px;
	padding:20px;
	background-color:hsl(240, 3%, 12%,70%);
	color:white;
	border-radius:2px 15px;
	width:150px;
	height:100px;
	box-shadow:1px 1px 10px white;
	text-align:left;
}

.contact a{ font-size:11px;text-decoration:none;}
.contact p {font-size:9px;}






@media only screen and (max-width: 690px)
{
	
	.navbar ul
	{
		position:absolute;
		top:70px;
		left:5px;
		
	
	}
	.navbar a 
	{
		background-color:white;color:black;border-radius:2px 15px;opacity:.5;
	}
	.about pre{
		font-size:10px;
	}

	
}